@import url(https://fonts.googleapis.com/css?family=Dosis:300,400,500,600&subset=latin-ext);
.exercise {
    padding: 25px 50px;
    border: black thin solid;
}

.left,
.right {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.right {
    text-align: right;
}

.exercise-title {
    height: 80px;
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.exercise-title p {
    font-size: 25px;
    line-height: 35px;
    font-weight: 500;
}

#exercise-number {}

#exercise-name {
    font-weight: 900;
    font-size: 35px;
    line-height: 45px;
}

#exercise-description {
    padding-top: 10px;
}

#exercise-progess {}

#cheetah {
    padding: 0;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    box-shadow: 0px 0px 2px 2px lightgrey;
}

.game-container {
    position: relative;
    max-height: 540px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.exercise-content {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    max-height: 540px;
}

.exercise-content>.left,
.exercise-content>.right {
    width: 50%;
}

.exercise-problem {
    padding: 15px;
    height: 100%;
    box-shadow: 0px 0px 2px 2px grey;
    background: white;
    text-align: center;
    line-height: 40px;
    overflow: scroll;
    font-size: 35px;
}

.exercise-problem .answer-box {
    line-height: 25px;
    font-size: 20px;
    padding-left: 5px;
}

input[type=submit] {
    border-style: none;
    transition: all .2s ease-in-out;
    cursor: pointer;
    outline: none;
}

input[type=submit]:hover {
    transform: scale(1.1);
}

.exercise-problem .answer-submit {
    font-size: 20px;
    border-radius: 5px;
    color: white;
    border-color: #F26B5C;
    background-color: #F26B5C;
}

.exercise-problem.solved {
    opacity: 0;
}
