@import url(https://fonts.googleapis.com/css?family=Dosis:300,400,500,600&subset=latin-ext);
.exercise {
    padding: 25px 50px;
}

.left,
.right {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.right {
    text-align: right;
}

.exercise-title {
    height: 80px;
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.exercise-title p {
    font-size: 25px;
    line-height: 35px;
    font-weight: 500;
}

#exercise-number {}

#exercise-name {
    font-weight: 900;
    font-size: 35px;
    line-height: 45px;
}

#exercise-description {
    padding-top: 10px;
}

#exercise-progess {}

.game-container {
    position: relative;
    max-height: 540px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#exercise-img {
    position: relative;
    padding: 0;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    box-shadow: 0px 0px 2px 2px lightgrey;
}

.exercise-content.exercise-modal {
    pointer-events: none;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
}

.exercise-content.exercise-modal.active {
    z-index: 1;
    pointer-events: initial;
}

.modal-contents {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 30%;
    width: 30%;
    box-shadow: 0px 0px 2px 2px grey;
    background: white;
}

.modal-contents.failure {
    color: red;
}

.modal-contents.success {
    color: green;
    height: 50%;
    width: 50%;
}

.modal-contents.success>.next a {
    text-decoration: none;
    color: green;
}

.modal-contents.success>.next a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.exercise-content {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    max-height: 540px;
}

.exercise-content>.left,
.exercise-content>.right {
    width: 50%;
}

.exercise-problem {
    padding: 15px;
    height: 100%;
    box-shadow: 0px 0px 1px 1px grey;
    background: white;
    text-align: left;
    padding-left: 40px;
    line-height: 40px;
    overflow: scroll;
    position: relative;
}

.exercise-problem .answer-box {
    height: 40px;
    font-size: 20px;
    padding: 20px 0;
    padding-left: 5px;
    position: absolute;
}

.exercise-problem p {
    color: #465568;
    font-size: 25px;
}

.incorrect {
    border-color: red;
}

input[type=submit] {
    border-style: none;
    transition: all .2s ease-in-out;
    cursor: pointer;
    outline: none;
    padding: 10px 30px;
    float: right;
    margin-right: 20px;
    position: relative;
    visibility: hidden;
}

input[type=submit]:hover {
    transform: scale(1.1);
}

input:focus {
    outline: none;
    border: none;
    border: 1px solid #465568;
    background: none;
}

.exercise-problem .answer-submit {
    font-size: 20px;
    border-radius: 5px;
    color: white;
    border-color: #F26B5C;
    background-color: #F26B5C;
}

.exercise-problem.solved {
    opacity: 0;
}

.curl {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background: red;
    background: linear-gradient( 135deg, rgba(255, 0, 0, 0), rgba(255, 0, 0, 0) 45%, #ddd 50%, #aaa 50%, #bbb 56%, #ccc 62%, #f3f3f3 80%, #fff 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    transition: all .9s ease;
    z-index: 10;
}

.image-snippet {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    overflow: hidden;
    z-index: 9;
}

.image-snippet img {
    width: 400px;
    height: 300px;
}

.curl:before,
.curl:after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 12.5%;
    bottom: 5.8%;
    width: 70%;
    max-width: 300px;
    max-height: 100px;
    height: 55%;
    box-shadow: 0 12px 15px rgba(0, 0, 0, .3);
    transform: skew(-10deg) rotate(-6deg);
}

.curl:after {
    left: auto;
    right: 5.8%;
    bottom: auto;
    top: 14.16%;
    transform: skew(-15deg) rotate(-84deg);
}