/*********************************
GLOBAL
*********************************/

@import url(https://fonts.googleapis.com/css?family=Dosis:300,400,500,600&subset=latin-ext);

*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    background: white;
}

