<div class="left">
    <p id="exercise-number">Exercise {{exercise.number}}</p>
    <p id="exercise-name">{{exercise.name}}</p>
</div>
<div class="right">
    <p id="exercise-description">Finish to see what's underneath!</p>
    <p id="exercise-progress">completed <text id="completed-count">{{completedCount}}</text>/8</p>
</div>
