{{#if nextExercise}}
<a href="./exercise.html?id={{ nextExercise.id }}">
    <button>Do Next Exercise!</button>
</a>
{{/if}}
<div class="subheader-text">
    <h1>Hello, {{name}}!</h1>
    <p>You have {{completed_exercises}} photo cards, finish more exercises to get more!</p>
</div>